<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiteUrl" value="http://localhost/" />
    <add key="Versions" value="0.1"/>
    <add key="ApplicationVersionMajorPropertyKey" value="ApplicationVersionMajor"/>
    <add key="ApplicationVersionMinorPropertyKey" value="ApplicationVersionMinor"/>
  </appSettings>
</configuration>